/* SECTION */
.courses {
  padding: 70px 50px;
  background: #ffffff;
}

/* HEADER LEFT ALIGN */
.courses-header {
  text-align: left;
  margin-bottom: 40px;
}

/* SUB TITLE */
.sub-title {
  color: #6366f1;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1px;
}

/* MAIN TITLE */
.main-title {
  font-size: 34px;
  font-weight: 700;
}

/* GRID */
.course-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

/* CARD */
.course-card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;

  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: 0.3s;
}

/* HOVER */
.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 18px 35px rgba(0,0,0,0.15);
}

/* IMAGE */
.img-box {
  overflow: hidden;
}

.img-box img {
  width: 100%;
  display: block;
  transition: 0.4s;
}

.course-card:hover img {
  transform: scale(1.08);
}

/* CONTENT */
.course-content {
  padding: 20px;
  text-align: left;
}

.course-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* PRICE */
.price {
  color: #6366f1;
  font-weight: 600;
  margin-bottom: 15px;
}

/* BUTTON */
.course-content button {
  background: #6366f1;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.course-content button:hover {
  background: #4f46e5;
}