.footer {
  background: #0f172a;
  color: #fff;
  margin-top: 50px;
}

/* CONTAINER */
.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  padding: 50px 40px;
}

/* COLUMN */
.footer-col h3 {
  margin-bottom: 15px;
}

.footer-col p {
  color: #cbd5e1;
  line-height: 1.6;
}

/* LOGO */
.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* LIST */
.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
  color: #cbd5e1;
  cursor: pointer;
  transition: 0.3s;
}

.footer-col ul li:hover {
  color: #6366f1;
}

/* SOCIAL */
.socials {
  margin-top: 20px;
}

.socials span {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #94a3b8;
}

.icons {
  display: flex;
  gap: 12px;
}

.icons svg {
  background: #1e293b;
  padding: 10px;
  border-radius: 50%;
  font-size: 35px;
  cursor: pointer;
  transition: 0.3s;
}

.icons svg:hover {
  background: #6366f1;
}

/* CONTACT */
.contact-item {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.contact-item svg {
  font-size: 20px;
  color: #6366f1;
}

.contact-item h4 {
  margin: 0;
  font-size: 14px;
}

.contact-item p {
  margin: 0;
  font-size: 13px;
  color: #cbd5e1;
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  padding: 15px;
  background: #020617;
  font-size: 14px;
  color: #94a3b8;
}